<% layout('layouts/admin') %>
<div class="content-grid">
    <div class="content-margin">
        <div class="content-header">
            <div class="content-header__left">
                <p>Danh sách qld</p>
            </div>
            <div class="content-header__right">
                <a href="/qld/add">
                    <button class="add">Thêm mới</button>
                    <i class='bx bx-message-alt-add'></i>
                </a>
            </div>
        </div>
        <!-- <div class="content-search">
            <div class="content-form">
                <form action="/qld/search" method="POST">
                    <input type="text" name="diem"  placeholder="tìm kiếm tên qld" >
                    <div class="content-button">
            
                        <button>
                            tìm kiếm
                         </button>
                         <i class='bx bx-search-alt-2' ></i>
               
                    </div>
                   
                </form>
            </div>
           
        </div> -->
        <div class="content-table">
            <div>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>tên sinh viên</th>
                        <th>tên môn học</th>
                        <th>Điểm</th>
                        <th>thao tác</th>
                    </tr>
                    <% let i=0 %>
                    <% for(let qld of qlds){%>
                    <% i++%>
                    <tr>
                        <td ><%= i %></td>
                        <td ><%= qld.Student.name %></td>
                        <td ><%= qld.Subject.nameS %></td>
                        <td ><%= qld.diem %></td>
                        <td >
                            <a href="/qld/edit/<%= qld.id%>"><button onclick="onEdit()" class="btn btn-primary"><i class='bx bxs-edit'></i></button></a>
                            <form action="/qld/delete/<%= qld.id%>?_method=DELETE" method="POST" style="display: inline;"><button><i class='bx bx-trash'></i></button></form>
                        </td>
                    </tr>
                    <%}%>    
                </table>
            </div>
        </div>
    </div>
</div>
